{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block foot_scripts %}
<script>
</script>
{% endblock %}

{% block hidden_frame %}
<iframe id="my-iframe" src="//sso.mymedia.local:8000/hidden/" style=";display:none" hidden="">
    Sorry your browser does not support inline frames.
</iframe>
{% endblock %}

{% block content %}
Hello and welcome to the site!

{% if not user_session %}
<a href="{% url 'sso_login' %}">login</a>
{% else %}
<a href="{% url 'sso_logout' %}">logout</a>
{% endif %}

{% endblock %}
