{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block foot_scripts %}
<script>
    // this runs on parent window
    console.log('Home js loaded...')
    window.onmessage = function(e){
        console.log('data is now ' + e.data.user_session);
    };

</script>
{% endblock %}

{% block login %}
<iframe src = "//sso.mymedia.local:8000/login/" width="555" height="200" id="my-iframe">
    Sorry your browser does not support inline frames.
</iframe>
{% endblock %}

{% block content %}
Hello and welcome to the site

{% endblock %}
