{% extends 'base.html' %}

{% load marktags %}

{% block title %}Login{% endblock %}

{% block hidden_frame %}
<iframe id="my-iframe" src="//sso.mymedia.local:8000/hidden/" style=";display:none" hidden="" onload="onMyFrameLoad(this)">
    Sorry your browser does not support inline frames.
</iframe>
{% endblock %}

{% block foot_scripts %}
<script>
    // This runs in the iframe
    var key = 'user_session';

    function getLocalStorageKey(c_name) {
        return localStorage.getItem(c_name);
    }

    function setLocalStorageKey(c_name, value) {
        return localStorage.setItem(c_name, value);
    }

    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }

    var user_session = getCookie('user_session');
    setLocalStorageKey('user_session', user_session);
    console.log('user session: ');
    console.log(getLocalStorageKey(key));

    var janrainCaptureToken = getCookie('janrainCaptureToken');

    function onMyFrameLoad() {
        console.log('myframe is loaded');
        var myFrame = document.getElementById('my-iframe').contentWindow;
        myFrame.postMessage({'user_session': user_session, 'janrainCaptureToken': janrainCaptureToken}, '*');
    };


    // This is nice and works!
    //var frame = document.getElementById('your-frame-id');
    //frame.contentWindow.postMessage({'user_session': value}, '*');

</script>
{% endblock %}

{% block content %}



{% if not user_session %}
<h2>Login</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button><br>
  Back to <a href="{% url 'home' %}">home</a>
</form>
{% else %}
You user session is: {{ user_session }}. COOKIE - {% cookie 'user_session' %}
<br>
<a href="{% url 'sso_logout' %}">logout</a>
<br>
<a href="{% url 'home' %}">home</a>
{% endif%}

{% endblock %}
